<% include partials/header %>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="/">YelpCamp</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle Navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
					<a href="/campgrounds" class="nav-link">Home</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<!-- <% //if(!currentUser){ %> -->
					<li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
						<a href="/login" class="nav-link">Login</a>
					</li>
					<li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
						<a href="/register" class="nav-link">Sign Up</a>
					</li>
				<!-- <% //} else { %> -->
					<li class="nav-item">
						<a href="#" class="nav-link">Signed In As TEST</a>
						<!--USE THIS LINE ONCE WE HAVE A USER <a href="#" class="nav-link">Signed In As <%=// currentUser.username %></a> -->
					</li>
					<li class="nav-item">
						<a href="/campgrounds" class="nav-link">Logout</a>
					</li>
				<!-- <% //} %> -->
			</ul>
		</div>
</nav>


<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to YelpCamp!</h1>
			<p>View hand-picked campgrounds from around the globe</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
			</p>	
		</div>
	</header>

	<div class="row text-center">
		<% campgrounds.forEach((campground) => { %>
		<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
			<div class="card">
				<img src="<%= campground.image %> class="card-img-top" alt="<%= campground.name %>" ">
				<div class="card-body">
					<h4 class="card-title"><%= campground.name %></h4>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">Info</a>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</div>

<% include partials/footer %>