<!DOCTYPE html>
<html>
    <head>
		<title>YelpCamp</title>
		<!-- Latest compiled bootstrap and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<!-- My landing.css file -->
		<link rel="stylesheet" href="/stylesheets/landing.css">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
			<a class="navbar-brand" href="/"><i class="fa fa-tree"></i> YelpCamp</a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
						<a href="/campgrounds" class="nav-item nav-link">Home</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<% if(!currentUser){ %>
						<li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
							<a href="/login" class="nav-link">Login</a>
						</li>
						<li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
							<a href="/register" class="nav-link">Sign Up</a>
						</li>
					<% } else { %>
						<li class="nav-item">
							<a href="#" class="nav-link">Signed In As <%= currentUser.username %></a>
						</li>
						<li class="nav-item">
							<a href="#" data-toggle="modal" data-target=".logoutModal" class="nav-link">Logout</a>
						</li>
					<% } %>
				</ul>
			</div>
		</nav>

		<div class="modal logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<h4>Logout <i class="fa fa-lock"></i></h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					</div>
					<div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
					<div class="modal-footer"><a href="/logout" class="btn btn-primary btn-block">Logout</a></div>
				</div>
			</div>
		</div>

    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1>YelpCamp</h1>
		<hr>
		<h4>Start planning your next trip today</h4>
		<a href="/campgrounds" class="btn btn-lg btn-success"><i class="fa fa-tree"></i> View All Campgrounds</a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>