<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
                <div class="card-body">
                    <h4 class="float-right">
                        $<%=campground.price%>/night
                    </h4>
                    <h4 class="card-title"><%= campground.name %></h4>
                    <p>
						<em>Submitted by: </em><%=campground.author.username%>, <em><%= moment(campground.createdAt).fromNow() %></em>
                        <br>
                        <em>Last edit: <%=campground.createdAt.toLocaleDateString('en-US',{hour: "numeric", minute: "numeric", second: "numeric", timeZoneName: "short"})%></em>
                    </p>
                    <%if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                    <a class="btn btn-warning btn-sm" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                    <form class="deleteForm" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    <% } %>
                    <hr>
                    <p class="card-text"><%=campground.description%></p>

                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                        <i class="fas fa-plus"></i> Add new comment</a>
                </div>

                <!--Comment section title-->
                <h4><strong>Comments <i class="fas fa-comment"></i></strong></h4>

                <!--Collapse Add a comment form START-->
                <div class="collapse" id="collapseComment">
                    <div class="card card-body" style="border-left: 5px solid #00C851; padding-left: 4px;">
                        <% if(!currentUser) { %>
                        <!--If the user is not logged in, direct him to the login page-->
                        <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
                        <% } %>
                        <% if(currentUser) { %>
                        <!--If the user is logged in, show the new comment form-->
                        <h4>Write your comment <i class="fas fa-pencil-alt"></i></h4>
                        <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-sm">Comment <i class="far fa-comment-dots"></i></button>
                            </div>
                        </form>
                        <% } %>
                    </div>
                </div>
                <!--Collapse Add a comment form END-->
                <hr>

                <!--Check if there are comments, if there are none say no comments.-->
                <% if (campground.comments.length === 0) { %>
                <em style="color: grey;">No comments yet.</em>
                <% } %>

                <!--Display comments by looping through them-->
                <% campground.comments.forEach(function(comment) { %>
                <div class="row">
                    <div class="col-md-12">
                        <strong>
                            <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                            <!--If the current user owns the comment, change the color of the user icon-->
                            <i class="fas fa-user"></i>
                            <% } else { %>
                            <!--Else just display it black-->
							<i class="fas fa-user"></i>
                            <% } %>
                            <!--Print out the author username-->
                            <%= comment.author.username %>
                        </strong>

                        <!--Show when the comment was made-->
                        <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>

                        <!--Printing the comment-->
                        <p><%= comment.text %></p>

                        <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
                        <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                        <!--Edit button used for collapsing the edit comment form-->
                        <a class="btn btn-xs btn-warning" type="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
                            Edit</a>

                        <!--Delete comment button-->
                        <form id="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>

                        <!--Edit comment form-->
                        <div class="collapse" id="collapseEdit<%= comment._id %>">
                            <div class="well" style="border-left: 5px solid #ffbb33; margin-top: 15px; padding-left: 4px;">
                                <h4>Edit your comment <i class="fa fa-user-edit"></i></h4>
                                <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                                    <div class="form-group">
                                        <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-warning btn-sm">Edit comment <i class="far fa-comment-dots"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <% } %>
                        <hr>

                    </div>
                </div>
                <% }) %>
            </div>
            <!--COMMENT SECTION END-->
        </div>
    </div>
</div>

<% include ../partials/footer %>